In [35]:
1+1

2

- Lists are collection of mutable objects/items of different datatypes. 
Meaning list can be modified as used. Lots of operations can be performed.

In [40]:
lst = [] # initializes a list, an empty one which can be later used
print(lst) # prints the list
lst = lst + [1,2,3]
print("Updated list now is:", lst)
count2 = lst.count(2) # counts number of 2's in the list
print("Number of 2's in the list is:", count2)
lst.append([2,3,4])
lst.append("IAS")
print("Updated list after operations is:", lst)

count2 = lst.count(2) # counts number of 2's in the list
print("Number of 2's in the list is:", count2)

lst.pop(1)
print("Updated list after multiple operation is:", lst)

[]
Updated list now is: [1, 2, 3]
Number of 2's in the list is: 1
Updated list after operations is: [1, 2, 3, [2, 3, 4], 'IAS']
Number of 2's in the list is: 1
Updated list after multiple operation is: [1, 3, [2, 3, 4], 'IAS']

In [41]:
lst = [1, 3, [2, 3, 4], 'IAS']
# slicing lists
print(lst[1:])
print(lst[:2])
print(lst[:-1])

lst.append(2)
print("Latest list:", lst)

lst.insert(2, "New IAS")
lst.append("IAS")
print("List after inserting New IAS and appending:", lst)

[3, [2, 3, 4], 'IAS']
[1, 3]
[1, 3, [2, 3, 4]]
Latest list: [1, 3, [2, 3, 4], 'IAS', 2]
List after inserting New IAS and appending: [1, 3, 'New IAS', [2, 3, 4], 'IAS', 2, 'IAS']

In [44]:
lst = [1, 3, 'New IAS', [2, 3, 4], 'IAS', 2, 'IAS']
print(lst.count("IAS")) # returns the count of the element
lst.remove("IAS")
print(lst) # removes the first occurence of the element
print(lst.index("New IAS")) # returns the index of the element 
print(lst.count("IAS")) # returns the count of the element

2
[1, 3, 'New IAS', [2, 3, 4], 2, 'IAS']
2
1

In [45]:
lst = [1, 3, 'New IAS', [2, 3, 4], 'IAS', 2, 'IAS']
lst.reverse()
print(lst) # reverses the list

['IAS', 2, 'IAS', [2, 3, 4], 'New IAS', 3, 1]

In [49]:
import random

lst2 = random.sample(range(1, 100), 10)
print("Random list:", lst2)
lst2.sort()
print("Sorted list:", lst2)
print(lst2[::2]) # prints every alternate element

Random list: [43, 78, 77, 73, 47, 85, 34, 40, 6, 19]
Sorted list: [6, 19, 34, 40, 43, 47, 73, 77, 78, 85]
[6, 34, 43, 73, 78]

In [53]:
# list iteration and comprehension
import random
lst3 = random.sample(range(1, 100), 10)

for i in lst3:
    print(i, end = " ")
print("\n")
for index, value in enumerate(lst3):
    print(index, value)

# syntax for list comprehension: [expression for item in list]
# syntax for list comprehension with condition: [expression for item in list if condition]
# nested list comprehension: [expression for item1 in list1 for item2 in list2]
lst4 = [i for i in range(10)] # list comprehension; instrad of initializing a list, manually 
# appending elements to it over a for loop
print("Comprehsion List:", lst4)

42 75 68 71 1 64 89 87 11 18

0 42
1 75
2 68
3 71
4 1
5 64
6 89
7 87
8 11
9 18
Comprehsion List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
lst_i = ["Class 1", "Class 2", "Class 3"]
lst_j = [10,20,25,22,30,40]
simple_mapping = [(i,j) for i in lst_i for j in lst_j if j < 30]
print("Simple Mapping:", simple_mapping)

simple_mapping2 = [(i,j) for i in lst_i for j in lst_j if i=="Class 1" if j % 10 == 0]
print("Simple Mapping with condition:", simple_mapping2)

# nested list comprehension
mapping = [i*j for i in range(1, 11) for j in range(1, 11)]
print("Nested List Comprehension:", mapping)

Simple Mapping: [('Class 1', 10), ('Class 1', 20), ('Class 1', 25), ('Class 1', 22), ('Class 2', 10), ('Class 2', 20), ('Class 2', 25), ('Class 2', 22), ('Class 3', 10), ('Class 3', 20), ('Class 3', 25), ('Class 3', 22)]
Simple Mapping with condition: [('Class 1', 10), ('Class 1', 20), ('Class 1', 30), ('Class 1', 40)]
Nested List Comprehension: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]